.about-company {
  &__item {
    margin-bottom: cs($desktopMarginBlock);

    @include tablet {
      margin-bottom: cs($tabletMarginBlock);
    }

    @include mobile {
      margin-bottom: cs($mobileMarginBlock);
    }
  }

  &__page-nav {
    margin: cs(30) 0 cs(60);
  }

  &__description {
    @include fontType(24, 31, medium);
    width: cs(1043);

    @include tablet {
      margin-top: cs(40);
    }

    @include mobile {
      @include fontType(20, 26, medium);
      width: 96%;
    }
  }
}

.worth {
  display: flex;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
  }

  &__subtitle {
    @include arialFont(18, 23);
    margin-bottom: cs($marginElement);

    @include mobile {
      @include arialFont(16, 21);
    }
  }

  &__left {
    width: cs(690);

    @include tablet {
      width: cs(467);
    }

    @include mobile {
      width: auto;
    }
  }

  &__info-wrapper {
    margin-bottom: cs($marginElement);
    width: cs(600);

    @include tablet {
      width: 100%;
    }
  }

  &__info-title {
    color: $navy;
    @include fontType(24, 28, medium);
    margin-bottom: cs(10);
  }

  &__info-text {
    @include arialFont(16, 21);
    @include mobile {
      @include arialFont(14, 18);
    }
  }

  &__photo {
    width: cs(774);
    height: cs(480);
    object-fit: cover;

    @include tablet {
      width: cs(467);
      height: cs(416);
    }

    @include mobile {
      width: cs(340);
      height: cs(227);
    }
  }
}
