.activity-page {
  &__welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: cs(684);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)),
      url('../../images/activity/company.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 70%;

    @include tablet {
      height: cs(640);
    }

    @include mobile {
      height: cs(593);
      background-position-x: 25%;
    }
  }

  &__welcome-content {
    width: cs(1380);
    padding-bottom: cs(70);

    @include tablet {
      width: auto;
      padding-bottom: cs(40);
    }

    @include mobile {
      padding-bottom: cs(30);
    }
  }

  &__breadcrumbs {
    padding-top: cs(50);
    margin: 0;

    @include mobile {
      padding-top: cs(30);
    }

    .breadcrumbs__link {
      color: $whiteColor;

      &::after {
        @include arrow(35%, -20, 'e9ebf6', right, 10, 7);
      }
    }
  }

  &__page-title {
    color: $whiteColor;
  }

  &__page-description {
    margin-top: cs(50);
    color: $whiteColor;
    @include fontType(24, 31, medium);

    @include mobile {
      margin-top: cs(20);
      @include fontType(20, 26, medium);
    }
  }
}

.image-right {
  @include mobile {
    object-position: right;
  }
}
