.brand-page {
  &__welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: cs(684);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)),
      url('../../images/hands2.jpeg') no-repeat center 50% / cover;

    @include tablet {
      height: cs(640);
    }

    @include mobile {
      height: cs(593);
      background-position-x: 25%;
    }
  }

  &__welcome-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-bottom: cs(70);

    @include tablet {
      width: auto;
      padding-bottom: cs(40);
    }

    @include mobile {
      padding-bottom: cs(30);
    }
  }

  &__heading {
    width: cs(1080);
  }

  &__logo {
    width: cs(165);
    height: cs(90);
  }

  &__breadcrumbs {
    padding: cs(50) cs(170) 0;
    margin: 0;

    @include tablet {
      padding: cs(40) cs(32) 0;
    }

    @include mobile {
      padding: cs(30) cs(25) 0;
    }

    .breadcrumbs__link {
      color: $whiteColor;

      &::after {
        @include arrow(35%, -20, 'e9ebf6', right, 10, 7);
      }
    }
  }

  &__card-btn {
    margin: 0;
  }

  &__sub-title {
    margin: cs(20) 0 cs(10);
  }

  &__content-text {
    margin: 0;
    @include fontType(24, 31, medium);
  }

  &__page-title {
    color: $whiteColor;
  }

  &__page-description {
    margin-bottom: cs(16);
    color: $whiteColor;
    @include fontType(14, 18, regular);

    @include mobile {
      margin-top: cs(20);
      @include fontType(20, 26, medium);
    }
  }
}

.brand-social {
  &__wrapper {
    display: flex;
  }

  &__link {
    padding: cs(30);
    display: flex;
    align-items: center;
    border: 1px solid $lineColor;
  }

  &__ok {
    width: cs(260);
    height: cs(55);
  }

  &__vk {
    width: cs(265);
    height: cs(45);
  }
}
