.cards {
  &__item {
    width: cs(506);

    &:hover {
      .text-btn {
        &::after {
          left: cs(130);
        }
      }

      img {
        transform: scale(1.2);
      }
    }

    @include tablet {
      width: cs(307);
    }
  }

  &__title {
    margin-bottom: cs(30);

    @include tablet {
      margin-bottom: cs(20);
    }
  }

  &__subtitles-wrapper {
    margin-bottom: cs($marginElement);
  }

  &__subtitle {
    width: cs(774);
    color: $blackColor;
    @include fontType(18, 23, medium);
    @include notLast {
      margin-bottom: cs(20);
    }

    @include tablet {
      width: cs(467);
    }

    @include mobile {
      width: auto;
      @include fontType(16, 21, medium);
    }
  }
}

.card {
  &__photo-wrapper {
    overflow: hidden;
    width: cs(506);
    height: cs(300);

    @include tablet {
      object-fit: cover;
      width: cs(307);
      height: cs(200);
    }

    @include mobile {
      width: cs(335);
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;

    @include tablet {
      object-fit: cover;
    }
  }

  &__date {
    color: $greyColor;
    margin-top: cs(15);
    @include arialFont(12, 14);
  }

  &__sub-title {
    color: $navy;
    @include fontType(18, 23, semiBold);
    margin: cs(15) 0;

    @include tablet {
      @include fontType(16, 21, medium);
    }
  }

  &__text {
    @include fontType(16, 21, medium);

    @include tablet {
      @include fontType(14, 18, medium);
      height: cs(56);
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }
}

.swiper-padding {
  padding-bottom: cs(100) !important;

  @include mobile {
    padding-bottom: cs(35) !important;
  }
}

.text-btn {
  @include fontType(24, 31, bold);
  width: 100%;
  text-align: start;
  margin-top: cs(30);
  background: none;
  color: $deepCerise;
  position: relative;

  &::after {
    content: '';
    @include arrow(33%, left, 145, $pinkArrow, right, 15, 15);
  }

  &:hover {
    &::after {
      left: cs(155);
    }
  }

  @include mobile {
    @include fontType(18, 23, bold);
    margin-top: cs(20);

    &::after {
      @include arrow(33%, left, 115, $pinkArrow, right, 10, 10);
    }
  }
}

.small-button {
  @include fontType(18, 23, semiBold);
  margin-top: cs(15);

  &::after {
    @include arrow(40%, left, 115, $pinkArrow, right, 12, 7);
  }
}
