.career-page {
  &__welcome {
    @include mobile {
      height: cs(455);
    }
  }

  &__button {
    width: cs(305);

    @include mobile {
      width: 100%;
    }
  }

  &__page-description {
    margin-top: cs(25);
  }

  &__stories-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__card-photo {
    object-position: 0 18%;
  }

  &__quote {
    color: $greyColor;
    @include arialFont(24, 31);
    font-style: italic;
    margin-top: cs(20);

    @include tablet {
      @include arialFont(16, 21);
      font-style: italic;
      margin-top: cs(15);
    }
  }

  &__sub-title {
    @include fontType(22, 23, semiBold);
    margin: cs(20) 0 0;

    @include tablet {
      @include fontType(18, 23, semiBold);
      margin: cs(15) 0 0;
    }
  }

  &__student-name {
    color: $greyColor;
    @include arialFont(18, 23);
    margin: cs(10) 0 cs(20);

    @include tablet {
      @include arialFont(15, 19);
      margin: cs(5) 0 cs(15);
    }
  }

  &__more-btn {
    @include tablet {
      @include fontType(18, 23, semiBold);

      &::after {
        top: 20%;
      }
    }
  }
}
