.header {
  width: 100%;

  &__container {
    height: cs($headerHeight);
    padding: 0 cs(160) 0 cs(170);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-img {
    width: cs(126);
    height: cs(30);
  }
}

.menu {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    color: $navy;
    @include fontType(16, 22, bold);
    @include notLast {
      margin-right: cs(60);
    }

    &::after {
      content: '';
      position: absolute;
      top: 30%;
      right: -20px;
      background-image: url('../../images/icons/dropdown-arrow.png');
      background-size: contain;
      background-repeat: no-repeat;
      width: cs(10);
      height: cs(15);
    }
  }

  &__button {
    margin-left: cs(105);
    @include fontType(16, 22, bold);
    color: $deepCerise;
    background-color: $whiteColor;
    width: cs(180);
    height: cs(46);
    border: 2px solid $deepCerise;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $whiteColor;
      background-color: $deepCerise;
    }
  }
}

// =====================================================================================================================

// Burger
/*
.icon-menu {
  display: none;

  @include media(767) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 300ms ease 0ms;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - rem(1));
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
*/
