.header {
  width: 100%;

  &__container {
    height: cs($headerHeight);
    padding: 0 cs(160) 0 cs(170);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      padding: 0 cs(30);
      height: cs($headerTabletHeight);
    }
  }

  &__logo-img {
    width: cs(126);
    height: cs(30);
  }
}

.menu {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    color: $navy;
    @include fontType(16, 22, bold);
    @include notLast {
      margin-right: cs(60);
    }

    &::after {
      content: '';
      position: absolute;
      top: 30%;
      right: -20px;
      background-image: url('../../images/icons/dropdown-arrow.png');
      background-size: contain;
      background-repeat: no-repeat;
      width: cs(10);
      height: cs(15);
    }
  }

  &__button {
    margin-left: cs(105);
    @include fontType(16, 22, bold);
    color: $deepCerise;
    background-color: $whiteColor;
    width: cs(180);
    height: cs(46);
    border: 2px solid $deepCerise;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $whiteColor;
      background-color: $deepCerise;
    }
  }
}

.burger-menu {
  &__wrapper {
    overflow-y: scroll;
    width: 100%;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $navy;
    z-index: 2;
    transform: translate(100%, 0);
    transition: transform 0.5s ease;
    padding: cs(38) cs(25) cs(40);
  }

  &__icon {
    width: cs(24);
    height: cs(17);
  }

  &__logo {
    width: cs(146);
    height: cs(35);
    margin-bottom: cs(25);
  }

  &__content {
    position: relative;
  }

  &__cross {
    top: cs(10);
    right: 0;
    position: absolute;
    width: cs(17);
    height: cs(17);
  }

  &__button {
    width: 100%;
    margin: 0;
    color: $whiteColor;
    background: $navy;
    border: 2px solid $whiteColor;
    margin-top: cs(40);

    &:hover {
      color: $navy;
      background-color: $whiteColor;
    }
  }
}

.menu-open {
  transform: translate(0, 0);
}

.burger-dropdown {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: cs(15);
  transition: all 0.5s ease;

  &__title {
    width: max-content;
    cursor: pointer;
    position: relative;
    color: $whiteColor;
    @include fontType(24, 33, bold);
    margin-bottom: cs(15);

    &::after {
      content: '';
      background-image: url('../../images/icons/white-arrow.png');
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      width: cs(13);
      height: cs(7);
      top: 40%;
      right: cs(-20);
    }
  }

  &__links {
    display: none;
  }

  &__link {
    margin-bottom: cs(15);

    a {
      color: $whiteColor;
      @include fontType(20, 23, regular);
    }
  }
}

.rotate180 {
  &::after {
    transform: rotate(180deg);
  }
}

// =====================================================================================================================

// Burger
/*
.icon-menu {
  display: none;

  @include media(767) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 300ms ease 0ms;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - rem(1));
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
*/
