.header {
  width: 100%;

  &__container {
    height: cs($headerHeight);
    padding: 0 cs(160) 0 cs(170);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      padding: 0 cs(30);
      height: cs($headerTabletHeight);
    }
  }

  &__logo-img {
    width: cs(126);
    height: cs(30);
  }
}

.menu {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    @include notLast {
      margin-right: cs(60);
    }
  }

  &__button {
    margin-left: cs(105);
    @include fontType(16, 22, bold);
    color: $deepCerise;
    background-color: $whiteColor;
    width: cs(180);
    height: cs(46);
    border: 2px solid $deepCerise;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $whiteColor;
      background-color: $deepCerise;
    }
  }
}

.menu-dropdown {
  cursor: pointer;

  &__title {
    color: $navy;
    @include fontType(16, 22, bold);
    transition: all 0.3s ease;

    &::after {
      content: '';
      position: absolute;
      top: 30%;
      right: cs(-20);
      background-image: url('../../images/icons/dropdown-arrow.png');
      background-size: contain;
      background-repeat: no-repeat;
      width: cs(10);
      height: cs(7);
      transition: all 0.3s ease;
    }

    &:hover {
      color: $deepCerise;

      &::after {
        background-image: url('../../images/icons/pink-arrow.png');
      }
    }
  }

  &__wrapper {
    position: absolute;
    background: #ffffff;
    border: 1px solid #ebebeb;
    z-index: 1;
    width: cs(188);
    right: -50%;
    top: cs(30);
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: cs(14);
    transition: all 0.3s;
    @include fontType(16, 18, regular);

    &:hover {
      background-color: #ebebeb;
    }
  }
}

.rotate180 {
  &::after {
    transform: rotate(180deg);
  }
}

.header-dpdwn-open {
  color: $deepCerise;

  &::after {
    background-image: url('../../images/icons/pink-arrow.png');
  }
}
