.header {
  width: 100%;

  &__container {
    height: cs($headerHeight);
    padding: 0 cs(160) 0 cs(170);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      padding: 0 cs(30);
      height: cs($headerTabletHeight);
    }
  }

  &__logo-img {
    width: cs(126);
    height: cs(30);
  }
}

.menu {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    @include notLast {
      margin-right: cs(60);
    }
  }

  &__button {
    margin-left: cs(105);
    @include fontType(16, 22, bold);
    color: $deepCerise;
    background-color: $whiteColor;
    width: cs(180);
    height: cs(46);
    border: 2px solid $deepCerise;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $whiteColor;
      background-color: $deepCerise;
    }
  }
}

.menu-dropdown {
  cursor: pointer;

  &__title {
    color: $navy;
    @include fontType(16, 22, bold);
    transition: all 0.3s ease;

    &::after {
      content: '';
      position: absolute;
      top: 30%;
      right: cs(-20);
      @include arrow($blueArrow, 0, 10, 7);
      transition: all 0.3s ease;
    }

    &:hover {
      color: $deepCerise;

      &::after {
        @include arrow($pinkArrow, 0, 10, 7);
      }
    }
  }

  &__wrapper {
    position: absolute;
    background: #ffffff;
    z-index: 1;
    width: cs(194);
    left: -10%;
    top: cs(30);
  }

  &__list {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 6px 50px rgba(0, 0, 0, 0.1);
  }

  &__item {
    position: relative;
    padding: cs(14);
    transition: all 0.3s;
    @include fontType(16, 18, regular);

    &:hover {
      background-color: #f7f7f7;

      .more-items {
        display: flex;
      }
    }
  }
}

.more-items {
  display: none;
  position: absolute;
  top: 0;
  left: cs(193);
  width: cs(200);
  flex-direction: column;
  background: white;
  box-shadow: 5px 6px 50px rgba(0, 0, 0, 0.1);
}

.with-more-items {
  &::after {
    content: '';
    position: absolute;
    top: 40%;
    right: cs(10);
    @include arrow($greyArrow, 270, 10, 7);
    transition: all 0.3s ease;
  }

  &:hover {
    &::after {
      @include arrow($darkGreyArrow, 270, 10, 7);
    }
  }
}

.rotate180 {
  &::after {
    transform: rotate(180deg) !important;
  }
}

.header-dpdwn-open {
  color: $deepCerise;

  &::after {
    @include arrow($pinkArrow, 0, 10, 7);
  }
}
