.content {
  &__item {
    padding-top: cs(70);
    padding-bottom: cs($desktopMarginBlock);
    background: $whiteBckg;
  }
}

.greyBg {
  background: $greyBckg;
}

.welcome {
  height: cs(684);
  background-image: url('../../images/main-bg.jpg');
  background-size: cover;
  background-position: 0 75%;
  padding: cs(125) cs(170);

  @include tablet {
    height: cs(640);
    padding: cs(160) cs(30);
    background-position: 75%;
  }

  @include mobile {
    height: cs(370);
    padding: cs(30) cs(25);
    background-size: cover;
    background-position: right;
  }
}

.about-deskriptions {
  margin-top: cs(87);

  @include tablet {
    margin-top: cs(60);
  }

  @include mobile {
    margin-top: cs(40);
  }
}

.main-info {
  &__logo {
    width: cs(506);
    height: cs(120);

    @include tablet {
      width: cs(327);
      height: cs(78);
    }

    @include mobile {
      width: cs(241);
      height: cs(58);
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include mobile {
      flex-wrap: wrap;
    }
  }

  &__description {
    max-width: cs(775);

    @include tablet {
      max-width: cs(465);
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: cs(30);
    }
  }

  &__text {
    @include fontType(24, 31, medium);

    @include tablet {
      @include fontType(22, 29, medium);
    }

    @include mobile {
      @include fontType(20, 26, medium);
    }
  }
}

.more-btn {
  @include fontType(24, 31, bold);
  margin-top: cs(30);
  background: none;
  color: $deepCerise;
  position: relative;

  &::after {
    content: '';
    @include arrow(33%, -30, $pinkArrow, right, 15, 15);
  }

  &:hover {
    &::after {
      right: cs(-40);
    }
  }

  @include mobile {
    @include fontType(18, 23, bold);
    margin-top: cs(20);

    &::after {
      @include arrow(33%, -30, $pinkArrow, right, 10, 10);
    }
  }
}

.partners {
  margin: cs($desktopMarginBlock) 0 cs(30);

  @include tablet {
    margin: cs($tabletMarginBlock) 0 0;
  }

  @include mobile {
    margin-top: cs(40);
  }

  &__wrapper {
    margin-right: cs(80);
    @include tablet {
      margin-right: 0;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__logo {
    width: cs(280);
    height: cs(280);

    @include tablet {
      width: cs(181);
      height: cs(181);
    }

    @include mobile {
      width: cs(160);
      height: cs(160);
    }
  }
}

.cards {
  @include tablet {
    padding-top: cs(40);
    padding-bottom: cs($desktopMarginBlock);
  }

  @include mobile {
    padding-bottom: 0;
  }

  &__item {
    width: cs(506);

    &:hover {
      .more-btn {
        &::after {
          right: cs(-35);
        }
      }
    }

    @include tablet {
      width: cs(307);
    }
  }

  &__photo {
    width: cs(506);
    height: cs(300);
    object-fit: cover;

    @include tablet {
      object-fit: cover;
      width: cs(307);
      height: cs(200);
    }

    @include mobile {
      width: cs(335);
    }
  }

  &__title {
    margin-bottom: cs(30);

    @include tablet {
      margin-bottom: cs(20);
    }
  }

  &__subtitles-wrapper {
    margin-bottom: cs($marginElement);
  }

  &__subtitle {
    width: cs(774);
    color: $blackColor;
    @include fontType(18, 23, medium);
    @include notLast {
      margin-bottom: cs(20);
    }

    @include tablet {
      @include fontType(32, 42, medium);
    }

    @include mobile {
      @include fontType(28, 36, medium);
    }
  }

  &__date {
    color: $greyColor;
    margin-top: cs(15);
    @include fontType(12, 14, regular);
  }

  &__sub-title {
    color: $navy;
    @include fontType(18, 23, semiBold);
    margin: cs(15) 0;

    @include tablet {
      @include fontType(16, 21, medium);
    }
  }

  &__text {
    @include fontType(16, 21, medium);

    @include tablet {
      @include fontType(14, 18, medium);
      height: cs(56);
      overflow: hidden;
    }
  }
}

.mobile-center {
  @include mobile {
    justify-content: center;
  }
}

.mySwiper {
  padding-bottom: cs(100) !important;

  @include mobile {
    padding-bottom: cs(35) !important;
  }
}

.small-button {
  @include fontType(18, 23, semiBold);
  margin-top: cs(15);

  &::after {
    @include arrow(33%, -25, $pinkArrow, right, 15, 10);
  }
}

.without-arrow {
  &::after {
    display: none;
  }
}
