.content {
  &__item {
    padding: cs(50) cs(170);

    @include tablet {
      padding: cs(50) cs(25);
    }
  }
}

.info-block {
  &__title {
    color: #00005a;
    @include fontType(36, 47, medium);
    margin-bottom: cs(30);

    @include tablet {
      @include fontType(28, 36, medium);
      text-align: center;
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include tablet {
      flex-wrap: wrap;
    }
  }

  &__description {
    max-width: cs(775);

    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__text {
    @include fontType(24, 31, medium);

    @include tablet {
      @include fontType(20, 26, medium);
    }
  }

  &__button {
    @include fontType(24, 31, bold);
    margin-top: cs(30);
    background: none;
    color: #e13181;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 30%;
      right: -20px;
      background-image: url('../../images/pink_arrow.svg');
      background-size: contain;
      width: cs(10);
      height: cs(15);
    }
  }
}

.logo {
  width: cs(506);
  height: cs(120);
}

.partners {
  width: cs(280);
  height: cs(280);

  @include tablet {
    width: cs(160);
    height: cs(160);
  }
}

.news-block {
  width: cs(506);
  &__photo {
    width: cs(506);
    height: cs(250);
  }

  &__date {
    color: #8a8a8d;
    margin: cs(20) 0 cs(15);
    @include fontType(12, 14, regular);
  }

  &__sub-title {
    color: #00005a;
    @include fontType(18, 23, semiBold);
    margin-bottom: cs(15);
  }

  &__text {
    @include fontType(16, 21, medium);
  }
}

.bg {
  background: #fcfcfc;
  padding: cs(72) cs(170) cs(100);
}

.mobile-hidden {
  @include tablet {
    display: none;
  }
}

.center {
  @include tablet {
    justify-content: center;
  }
}
