.content {
  &__item {
    padding: cs(87) cs(170);

    @include tablet {
      padding: cs(50) cs(20) 0;
    }
  }
}

.welcome {
  height: cs(684);
  background-image: url('../../images/welcome-bg.png');
  background-size: cover;
  padding: cs(130) cs(170);

  &__title {
    color: $navy;
    @include fontType(80, 92, medium);
  }
}

.info-block {
  &__logo {
    width: cs(506);
    height: cs(120);
  }

  &__title {
    color: $navy;
    @include fontType(36, 47, medium);
    margin-bottom: cs(30);

    @include tablet {
      @include fontType(28, 36, medium);
      text-align: center;
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include tablet {
      flex-wrap: wrap;
    }
  }

  &__description {
    max-width: cs(775);

    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__text {
    @include fontType(24, 31, medium);

    @include tablet {
      @include fontType(20, 26, medium);
      color: $navy;
    }
  }

  &__button {
    @include fontType(24, 31, bold);
    margin-top: cs(30);
    background: none;
    color: $deepCerise;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 30%;
      right: -20px;
      background-image: url('../../images/icons/pink_arrow.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: cs(10);
      height: cs(15);
    }
    @include tablet {
      @include fontType(18, 23, bold);
      margin-top: cs(20);

      &::after {
        top: 20%;
      }
    }
  }
}

.partners {
  width: cs(280);
  height: cs(280);

  @include tablet {
    width: cs(154);
    height: cs(154);
  }
}

.news-block {
  width: cs(506);
  &__photo {
    width: cs(506);
    height: cs(250);

    @include tablet {
      width: cs(327);
      height: cs(193);
    }
  }

  &__date {
    color: $greySuit;
    margin: cs(20) 0 cs(15);
    @include fontType(12, 14, regular);

    @include tablet {
      margin: cs(30) 0 cs(15);
    }
  }

  &__sub-title {
    color: $navy;
    @include fontType(18, 23, semiBold);
    margin-bottom: cs(15);

    @include tablet {
      @include fontType(16, 21, medium);
    }
  }

  &__text {
    @include fontType(16, 21, medium);

    @include tablet {
      @include fontType(14, 18, medium);
    }
  }
}

.news-wrapper {
  background: $whiteColor;
  padding: cs(72) cs(170) cs(100);

  @include tablet {
    padding: cs(50) cs(25) cs(30);
  }
}

.center {
  @include tablet {
    justify-content: center;
  }
}

.mySwiper {
  padding-bottom: cs(100) !important;
}

.small-button {
  @include fontType(18, 23, semiBold);
  margin-top: cs(23);
}

.without-arrow {
  &::after {
    display: none;
  }
}

.partners-wrapper {
  padding-bottom: cs(30);
  @include tablet {
    padding: cs(35) cs(20) 0;
  }
}

.partners-block {
  margin-right: cs(80);
  @include tablet {
    margin-right: 0;
  }
}

.partners-title {
  margin-bottom: cs(10);
}

.news-title {
  margin-bottom: cs(50);
  @include tablet {
    margin-bottom: cs(25);
  }
}
