.news-page {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: cs(20);

    @include mobile {
      grid-template-columns: auto;
    }
  }

  &__card {
    width: cs(513);
    margin-bottom: cs(40);

    &:hover {
      .text-btn {
        &::after {
          left: cs(125);
        }
      }

      img {
        transform: scale(1.2);
      }
    }

    @include tablet {
      width: cs(307);
    }
    @include mobile {
      @include notLast {
        margin-bottom: cs(30);
      }
      width: cs(335);
    }
  }
}

.news-card {
  &__sub-title {
    @include fontType(22, 23, semiBold);

    @include tablet {
      @include fontType(16, 21, semiBold);
    }
  }

  &__text {
    @include fontType(14, 18, medium);
  }
}
