.press-releases-page {
  &__page-title {
    margin-bottom: cs(95);

    @include tablet {
      margin-bottom: cs(10);
    }
  }

  &__contacts {
    margin-top: cs(5);
    position: sticky;
    top: cs(50);
    height: max-content;

    @include tablet {
      position: fixed;
      top: 85%;
      background-color: white;
      padding: cs(15);
      border-radius: 5%;
      border: 1px solid $lineColor;
    }
  }
}

.press-releases {
  display: flex;
  justify-content: space-between;

  &__content {
    display: flex;
    flex-direction: row;

    @include tablet {
      flex-direction: column;
    }
  }

  &__list-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__years {
    display: flex;
    flex-direction: column;
    margin-right: cs(60);
    position: sticky;
    top: cs(50);
    height: max-content;

    @include tablet {
      flex-direction: row;
      margin-right: 0;
      justify-content: flex-end;
    }
  }

  &__year-btn {
    background: none;
    color: $greyColor;
    @include fontType(22, 29, semiBold);
    @include notLast {
      margin-bottom: cs(15);
    }
    transition: color 0.3s;

    &:hover {
      color: $navy;
    }

    @include tablet {
      @include notLast {
        margin-bottom: 0;
        margin-right: cs(20);
      }
    }
  }
}

.press-release-item {
  display: block;
  width: cs(927);
  cursor: pointer;
  margin-bottom: cs(50);

  &:hover {
    .text-btn {
      &::after {
        right: cs(-35);
      }
    }
  }

  @include tablet {
    margin-bottom: cs(40);
  }

  &__date {
    color: $greyColor;
    @include arialFont(12, 14);
    margin-bottom: cs(15);

    @include tablet {
      margin-bottom: cs(10);
    }
  }

  &__title {
    color: $navy;
    @include fontType(36, 47, medium);
    margin-bottom: cs(10);

    @include tablet {
      @include fontType(32, 42, medium);
    }
  }

  &__description {
    @include arialFont(18, 23);
    max-height: cs(70);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}

.current-year-link {
  color: $navy;
}
