.content-with-photo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include notLast {
    margin-bottom: cs(50);
  }

  @include mobile {
    flex-direction: column;
  }

  &__content {
    max-width: cs(774);

    @include tablet {
      max-width: cs(467);
    }

    @include mobile {
      margin-bottom: 0;
    }
  }

  &__text-wrapper {
    margin-bottom: cs(30);
  }

  &__text {
    @include arialFont(18, 23);
    @include notLast {
      margin-bottom: cs(20);
    }
  }

  &__button {
    width: cs(123);

    @include mobile {
      width: 100%;
      margin-top: cs(40);
    }
  }

  &__photo {
    object-fit: cover;
    width: cs(774);
    height: cs(480);

    @include tablet {
      width: cs(467);
      height: auto;
    }

    @include mobile {
      width: cs(340);
      height: cs(340);
    }
  }
}

.content-with-photo-revers {
  flex-direction: row-reverse;

  @include mobile {
    flex-direction: column;
  }
}

.grid-gallery {
  width: 100%;

  &__row {
    display: flex;
    justify-content: space-between;
    @include notLast {
      margin-bottom: cs(30);
    }

    @include tablet {
      @include notLast {
        margin-bottom: cs(20);
      }
    }
  }

  &__photo {
    cursor: pointer;
    object-fit: cover;
    width: cs(372);
    height: cs(250);

    @include tablet {
      width: cs(308);
      height: cs(205);
    }

    @include mobile {
      width: cs(340);
      height: cs(215);
    }
  }
}
