body {
  &.lock {
    overflow: hidden;
    touch-action: none;
  }
}
// Базовые анимации:
// @import "keyframes";

// Стили для полноэкранного блока:
// @import "fullscreen";

// Стили основного ограничивающего контейнера =================================
/*
* (i) Стили будут применяться ко 
* всем классам содержащим *__container
* Например header__container, main__container и т.д.
*/
[class*='__container'] {
  margin: 0 auto;
  padding: 0 cs(170);

  @include tablet {
    padding: 0 cs(32);
  }

  @include mobile {
    padding: 0 cs(25);
  }
}
// Стили отзывчивых картинок (IBG) ============================================
[class*='-ibg'] {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

[class*='-ibg_contain'] {
  img {
    object-fit: contain;
  }
}
// Стили для обертки модальных окон ===========================================
[class*='_overlay-bg'] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: $standartTrans; // Можно задать свою анимацию
  z-index: 2000; // Увеличить если нужно
  padding: rem(60) rem(15); // Изменить по макету
  overflow-y: auto;

  @include media(768) {
    &::-webkit-scrollbar {
      // Удалить из за ненадобности
      display: none;
    }
  }

  &._is-open {
    opacity: 1;
    visibility: visible;
  }
}
// Оболочка ===================================================================
.root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden; // clip - если используется в проекте position: sticky
}

.page {
  position: relative;
  flex: 1 1 auto;

  [data-observ] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(2);
    background: transparent;
    pointer-events: none;
  }

  &_start {
    padding-top: rem($headerHeight);
  }
}

.mobile-hidden {
  @include mobile {
    display: none !important;
    visibility: hidden !important;
  }
}

.mobile-visible {
  display: none !important;
  visibility: hidden !important;

  @include mobile {
    display: block !important;
    visibility: visible !important;
  }
}

.tablet-hidden {
  @include tablet {
    display: none !important;
    visibility: hidden !important;
  }
}

.tablet-visible {
  display: none !important;
  visibility: hidden !important;

  @include tablet {
    display: block !important;
    visibility: visible !important;
  }
}
