body {
  &.lock {
    overflow: hidden;
    touch-action: none;
  }
}
// Базовые анимации:
// @import "keyframes";

// Стили для полноэкранного блока:
// @import "fullscreen";

// Стили основного ограничивающего контейнера =================================
/*
* (i) Стили будут применяться ко 
* всем классам содержащим *__container
* Например header__container, main__container и т.д.
*/
[class*='__container'] {
  padding: 0 cs($desktopContainer);

  @include tablet {
    padding: 0 cs($tabletContainer);
  }

  @include mobile {
    padding: 0 cs($mobileContainer);
  }
}

[class*='__block'] {
  margin-bottom: cs($desktopMarginBlock);

  @include tablet {
    margin-bottom: cs($tabletMarginBlock);
  }

  @include mobile {
    margin-bottom: cs($mobileMarginBlock);
  }
}
// Стили отзывчивых картинок (IBG) ============================================
[class*='-ibg'] {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

[class*='-ibg_contain'] {
  img {
    object-fit: contain;
  }
}
// Стили для обертки модальных окон ===========================================
[class*='_overlay-bg'] {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: $standartTrans; // Можно задать свою анимацию
  z-index: 2000; // Увеличить если нужно
  padding: rem(60) rem(15); // Изменить по макету
  overflow-y: auto;

  @include media(768) {
    &::-webkit-scrollbar {
      // Удалить из за ненадобности
      display: none;
    }
  }

  &._is-open {
    opacity: 1;
    visibility: visible;
  }
}
// Оболочка ===================================================================
.root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip; // clip - если используется в проекте position: sticky
}

.page {
  position: relative;
  flex: 1 1 auto;

  [data-observ] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(2);
    background: transparent;
    pointer-events: none;
  }

  &_start {
    padding-top: rem($headerHeight);
  }
}

.page-heading {
  max-width: 98%;
  display: flex;
  flex-direction: column;

  @include tablet {
    max-width: 100%;
  }

  &__sub-title {
    color: $navy;
    @include fontType(36, 47, medium);
    margin: cs(50) 0 cs(20);
    width: cs(775);

    @include tablet {
      @include fontType(32, 42, medium);
      margin: cs(70) 0 0;
    }

    @include mobile {
      @include fontType(28, 36, medium);
      margin: cs(40) 0 0;
      width: auto;
    }
  }

  &__description {
    @include fontType(24, 31, medium);
    width: cs(1045);
    @include notFirst {
      margin-top: cs(30);
    }

    @include tablet {
      @include fontType(22, 29, medium);
      width: 100%;
    }

    @include mobile {
      @include fontType(20, 26, medium);
      @include notFirst {
        margin-top: cs(20);
      }
    }
  }
}

.mobile-hidden {
  @include mobile {
    display: none !important;
    visibility: hidden !important;
  }
}

.mobile-visible {
  display: none !important;
  visibility: hidden !important;

  @include mobile {
    display: block !important;
    visibility: visible !important;
  }
}

.tablet-hidden {
  @include tablet {
    display: none !important;
    visibility: hidden !important;
  }
}

.tablet-visible {
  display: none !important;
  visibility: hidden !important;

  @include tablet {
    display: block !important;
    visibility: visible !important;
  }
}

.page-title {
  color: $navy;
  @include fontType(80, 92, medium);

  @include tablet {
    @include fontType(60, 69, medium);
  }

  @include mobile {
    @include fontType(40, 50, medium);
  }
}

.section-title {
  color: $navy;
  @include fontType(36, 47, medium);
  margin-bottom: cs(30);

  @include tablet {
    @include fontType(32, 42, medium);
  }

  @include mobile {
    @include fontType(28, 36, medium);
    margin-bottom: cs(20);
  }
}

.block-title {
  @include fontType(24, 31, medium);

  @include mobile {
    @include fontType(20, 26, medium);
  }
}

.text {
  @include fontType(18, 23, regular);
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: cs(50) 0;
  width: max-content;

  @include mobile {
    margin: cs(20) 0;
  }

  &__container {
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__link {
    position: relative;
    @include fontType(14, 18, regular);
    @include notLast {
      margin-right: cs(25);

      &::after {
        content: '';
        @include arrow(35%, -20, '0E0E0E', right, 10, 7);
      }
    }

    &:hover {
      text-decoration: underline;
    }

    @include mobile {
      @include fontType(12, 16, regular);
    }
  }
}

.page-navigation {
  display: flex;
  flex-direction: row;

  @include mobile {
    width: 120%;
  }

  &__wrapper {
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__link {
    color: $greyColor;
    @include fontType(20, 26, medium);
    position: relative;
    border-bottom: 1px solid transparent;
    padding-bottom: cs(5);
    transition: color 0.3s, border-bottom 0.3s;
    cursor: pointer;

    @include mobile {
      @include fontType(16, 21, medium);
    }

    @include notLast {
      margin-right: cs(40);
    }

    &:hover {
      color: $deepCerise;
      border-bottom: 1px solid $deepCerise;
    }
  }
}

.active-panel {
  display: block !important;
}

.tabs__panel {
  display: none;
}
