@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url('../fonts/Manrope-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url('../fonts/Manrope-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url('../fonts/Manrope-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url('../fonts/Manrope-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Arial;
  font-display: swap;
  src: url('../fonts/Arial.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
