$maxWidth: 1920;
$minWidth: 320;
$maxWidthContainer: 1200;
$containerWidth: 1160;

$baseScreenSize: 1440;
$tabletScreenSize: 1024;
$mobileScreenSize: 550;

$mainOffset: 15;
$mainFont: 'Manrope';
$mainWeight: 400;

$headerHeight: 70;
$headerTabletHeight: 60;
$headerMobileHeight: 90;
$footerHeight: 720;
$footerMobileHeight: 882;

$bigDesktopContainer: 170;
$desktopContainer: 90;
$tabletContainer: 30;
$mobileContainer: 25;

$desktopMarginBlock: 100;
$tabletMarginBlock: 60;
$mobileMarginBlock: 40;
$marginElement: 30;
$marginSmall: 20;

$mainRadius: rem(10);

$whiteBckg: #ffffff;
$greyBckg: #fcfcfc;

$whiteColor: #e9ebf6;
$blackColor: #0e0e0e;
$greyColor: #808080;
$navy: #00005a;
$deepCerise: #e13181;
$greySuit: #8a8a8d;
$lineColor: #e6e6e6;

$blueArrow: '00005a';
$pinkArrow: 'e13181';
$whiteArrow: 'fcfcfc';
$greyArrow: 'D9D9D9';
$darkGreyArrow: '808080';

$firstAccentColor: $blackColor;
$secondAccentColor: $navy;

$fontFamily: $mainFont, sans-serif;
$fontColor: $blackColor;
$fontSize: 16;
$fontWeight: $mainWeight;

$standartTrans: all 280ms ease-in-out 0ms;

$btnBoxShadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);

$lightBoxShadow: 0 0 2px 0 rgba(#000, 10%), 0 0 4px 0 rgba(#000, 10%),
  0 0 8px 0 rgba(#000, 10%);

$hoverBoxShadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
  0 0 15px 0 rgba(#000, 10%);
